.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.pricing-plan {
    flex: 1;
    padding: 20px;
    max-width: 400px;
    background-color: blanchedalmond;
    border-radius: 5px;
    text-align: center;
}
.plan-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.plan-price {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.featurs {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.featurs li {
    margin-bottom: 10px;
}
button {
    border-radius: 5px;
    color: white;
    background-color: chocolate;
    border: 0cap;
    padding: 5px;
}
@media (max-width:1256px){
    .pricing-container {
        flex-direction: column;
    }
}